							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" data-bind="checked: AccessFlag" value="Read" />
									Read
								</label>
								<label class="checkbox">
									<input type="checkbox" data-bind="checked: AccessFlag" value="Post" />
									Post
								</label>
								<label class="checkbox">
									<input type="checkbox" data-bind="checked: AccessFlag" value="Reply" />
									Reply
								</label>
								<label class="checkbox">
									<input type="checkbox" data-bind="checked: AccessFlag" value="Priority" />
									Priority
								</label>
								<label class="checkbox">
									<input type="checkbox" data-bind="checked: AccessFlag" value="Poll" />
									Poll
								</label>
								<label class="checkbox">
									<input type="checkbox" data-bind="checked: AccessFlag" value="Vote" />
									Vote
								</label>
								<label class="checkbox">
									<input type="checkbox" data-bind="checked: AccessFlag" value="Moderator" />
									Moderator
								</label>
								<label class="checkbox">
									<input type="checkbox" data-bind="checked: AccessFlag" value="Edit" />
									Edit
								</label>
								<label class="checkbox">
									<input type="checkbox" data-bind="checked: AccessFlag" value="Delete" />
									Delete
								</label>
								<label class="checkbox">
									<input type="checkbox" data-bind="checked: AccessFlag" value="Upload" />
									Upload
								</label>
							</div>
